<nav class="navbar">
  <a class="navbar-logo" routerLink="/">RANK<span>IA</span></a>
  <div class="navbar-links">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Inicio</a>
    <a routerLink="/search" routerLinkActive="active">Buscar</a>
    <a routerLink="/lists" routerLinkActive="active">Listas</a>
    <a routerLink="/recommendations" routerLinkActive="active">Sugerencias</a>
    <a routerLink="/profile" routerLinkActive="active">Perfil</a>
  </div>
</nav>